.rayure {
    @include rayure(45deg, black 10px, white 10px, black 30px, white 15px);
}
.animblock1 {
    animation-name:rotation;
    animation-duration: 6s;
}

.animblock2 {
    animation-name:skew;
    animation-duration:3s;
}


@-webkit-keyframes rotation {
    from {transform:rotate(0deg);}
    to {transform:rotate(10deg);}
}

@-webkit-keyframes skew {
    from {transform:skewY(0deg);}
    to {transform:skewY(10deg);}
}